<!doctype html>

<html lang="en">

<head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"

          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title>Live Streaming Demonstration</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

<div class="container">

    <div class="row">

        <div class="col-lg-8  offset-lg-2">

            <h3 class="mt-5">Live Streaming</h3>

            <img src="{{ url_for('video') }}" width="100%">

        </div>

    </div>

</div>
<h1>Управління геймпадом</h1>

    <body>
        <h2 id="controller">No Controller Connected</h2>

        <h3 id="ButtonId">No Controller Connected</h3>

        <h3 id="axis1"></h3>

        <h3 id="axis2"></h3>

        <h3 id="axis3"></h3>

        <h3 id="axis4"></h3>

        <input type="number" id="forward" placeholder="Button forward">

        <input type="number" id="back" placeholder="Button back">

        <input type="number" id="rotate" placeholder="Axis for rotation">
    </body>

    <script type="text/javascript">

        var gamepad;

        var GamepadData

        var controller = document.getElementById("controller");

        var axis1 = document.getElementById("axis1");

        var axis2 = document.getElementById("axis2");

        var axis3 = document.getElementById("axis3");

        var axis4 = document.getElementById("axis4");

        var oldA1 = 0

        var oldA2 = 0 

        var oldA3 = 0

        var oldA4 = 0

	var oldF = 0

	var oldB = 0

        var textarea = document.getElementById("ButtonId");

        var forward = document.getElementById("forward");

        var back = document.getElementById("back");

        var rotate = document.getElementById("rotate");

        

        window.addEventListener("gamepadconnected", function (e) {

            gamepad = e.gamepad;

            console.log("Геймпад підключено: " + gamepad.id);

        });


        window.addEventListener("gamepaddisconnected", function (e) {

            gamepad = null;

            console.log("Геймпад відключено.");

        });

        setInterval(() => {

            if(gamepad !== undefined) {

                // a gamepad is connected and has an index

                const myGamepad = navigator.getGamepads()[gamepad.index];

                controller.textContent = myGamepad.id

                textarea.textContent = "";

                myGamepad.buttons.map(e => e.pressed).forEach((isPressed, buttonIndex) => {

                    if(isPressed) {

                        // button is pressed; indicate this on the page

                        textarea.textContent += `Button ${buttonIndex}  `;

                        if (forward.value != 0 && back.value != 0) {

                            send()

                        }

                    }

                })

                

                axis1.textContent = `Axis1 ${myGamepad.axes[0]}  `;

                axis2.textContent = `Axis2 ${myGamepad.axes[1]}  `;

                axis3.textContent = `Axis3 ${myGamepad.axes[2]}  `;

                axis4.textContent = `Axis4 ${myGamepad.axes[3]}  `;

                if (forward.value != 0 && back.value != 0) {
			if(myGamepad.axes[0] != oldA1 || myGamepad.axes[1] != oldA2 || myGamepad.axes[2] != oldA3 || myGamepad.axes[3] != oldA4){

				send()

                	}

			if (myGamepad.buttons[forward.value].value == 0 && oldF > 0){

				send()

			}

			if (myGamepad.buttons[back.value].value == 0 && oldB > 0){

				send()

			}
		}

                oldA1 = myGamepad.axes[0]

                oldA2 = myGamepad.axes[1]

                oldA3 = myGamepad.axes[2]

                oldA4 = myGamepad.axes[3]

		function send(){
			GamepadData = [myGamepad.buttons[forward.value].value, myGamepad.buttons[back.value].value, myGamepad.axes[rotate.value-1]]
			sendGamepadData(GamepadData)
			oldF = myGamepad.buttons[forward.value].value
			oldB = myGamepad.buttons[back.value].value
		}
            }

        }, 100)

        

        function sendGamepadData(gamepadData) {

                // Відправити дані на сервер за допомогою AJAX

                $.ajax({

                    type: 'POST',

                    url: '/gamepad_data',

                    contentType: 'application/json',

                    data: JSON.stringify(gamepadData),

                    success: function () {

                        console.log("Дані геймпада відправлені на сервер");

                    }

                });

        }

    </script>

</body>

</html>
